.App {
  text-align: center;
}

.Header {
  display: flex;
  background: black;
  width: 100%;
  color: white;
  justify-content: center;
}

.nav-bar {
  display: flex;
  background: lightgray;
  justify-content: right;
}

div {
  box-sizing: border-box;
}

.recipe-icon{
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid grey;
}

.modal {
  margin-top:20px;
  padding:20px;
  background:#eee;
  text-align: left;
}